@import '../../styles/base';

.appbar{   
    border:solid;
    margin-top: 50px;
    height: 100px;
    padding:2rem;
   &__content{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   
   &__content-right{
       display: flex;
       align-items: center;
       //increse the font-size of icons
       svg.MuiSvgIcon-root {
        font-size: 5rem;
        color:$black;
    }
   }
   &__content-cart{
       display: flex;
       align-items: center;
       margin-right:5rem;
   }
   &__content-cart-counter{
      width: 36px;
      height: 36px;
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      background-color: $blackLight;
      color:$white; 
      border-radius: 50%;  
      margin-left:2rem; 
      max-height:auto;

   }
   .active{
       background-color: $primary;
   }
}