@import '../../styles/base';

.sidebar{
&__drawer{
    min-width: 600px;
    .MuiDrawer-paperAnchorRight {
        left: auto;
        right: 0;
        width: 250px;
    }
}
&__drawer-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top:2rem;
    padding-right:2rem;
    svg.MuiSvgIcon-root {
        font-size: 2rem;
        color:$black;
        cursor: pointer;
    }

}
&__navigation{
    margin-top:1rem;
    padding-right:1rem;
    text-align: right;
    ul{
        margin-top:4rem;
        li{
            margin-bottom:3rem;
            display: flex;
            align-items: center;   
            justify-content: flex-end;         
        }

    .black{
    background-color: #121212;
    }
    .green{
    background-color: #23F0DC;
    }
    .red{
    background-color: #F1622F;
    }
    }
}
&__color-box{
    width:80px;
    height:50px;
    margin-left:2rem;
    
}

}