@import "../../styles/base";

.sidebar {
   background-color: rgb(27, 34, 46);
   &__drawer {
      align-items: center;
      place-content: center;
      padding: 50px;
      margin-top: 50px;
      svg.MuiSvgIcon-root{
         font-size: 4rem;
         align-items: center;
         cursor: pointer;
      }
   }
   &__content {
      margin-top: 40px;
   }
}


.theme__button {
   padding: 40px;
   border-radius: 10px;
   background-color:rgb(48, 47, 45);
}